#menu {
	width: 100%;
	height: 2em;
	background-color: #066;
	color: #fff;
}

#menu ul {
	margin: auto;
	padding: 0;
}

#menu ul li {
	display: inline-block;
}

#menu ul li a {
	color: #fff;
}

#menu ul li a:hover {
	color: #cc9;
}

